html,

body{
	margin: 0;
	padding: 0;
	border: 0;
}

.l-header{
	width: 100%;
    height: 100px;
    background-color: #8B0000;
}

.container{
	width: 1000px;
    height: 100%;
    margin: 0px auto;
}

.menu{
	text-align: center;
}

.menu_list{
	display: inline-block;
    margin: 25px 0px;
    padding: 0px;
}

.menu_item{
	display: inline-block;
    margin-left: 28px;
    padding: 10px;
    border: 2px solid #CD5C5C;
    border-radius: 10px;
    background-color: #B22222;
    text-decoration: none;
    text-transform: uppercase;
}

.menu_item:hover{
	background-color: #FF6347;
}

.menu_item > a{
	text-decoration: none;
}

.backgroud-light{
    background-color: #FAF0E6;
}

.l-infinitApp{
    padding: 20px;
}

.gallery{
    display: inline-block;
    width: 70%;
}

.gallery_item{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 18%;
    padding: 8px;
    border: 3px solid black;
    border-radius: 15px;
}

.gallery .gallery_item:nth-child(4n+0){
    margin-right: 0px;
}

.gallery_item > img{
    width: 100%;
}

.gallery_item > h3{
    margin: 0px;
    padding: 5px 0px;
    text-align: right;
}

.gallery_item > p{
    display: inline-block;
    width: 40px;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.gallery_item > div{
    display: inline-block;
    width: 80px;
    border: 2px solid black;
    font-size: 10px;
    text-align: center;
}

.fnc{
    display: inline-block;
    width: 28%;
}

.fnc_filter{

}

.fnc_addCart{

}