<!DOCTYPE html>
<html>
	<head>
		<title>Infinite Scroll Product Listing</title>
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
		<script type="text/javascript" src="libs/angular.min.js"></script>
		<script type="text/javascript" src="libs/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="app/data/menu.js"></script>
		<script type="text/javascript" src="app/model.js"></script>
	</head>
	<body ng-app="Myapp">
		<div class="l-header">
			<div class="container">
				<div class="menu">
					<ul class="menu_list" ng-controller="getMenu">
						<li class="menu_item" ng-repeat="menu in menus"><a href="{{menu.url}}">{{menu.name}}</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="backgroud-light">
			<div class="container">
				<div class="l-infinitApp">
					<div class="gallery" ng-controller="getProducts">
						<div class="gallery_item" ng-repeat="product in products">
							<img src="{{product.img_url}}">
							<h3>{{product.title}}</h3>
							<div >
								<p>{{product.price}}$</p>
								<div class="addProduct">
									Add to Cart
								</div>
							</div>
						</div>
					</div>
					<div class="fnc">
						<div class="fnc_filter">
						
						</div>
						<div class="fnc_addCart">
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>